@font-face {
    font-family: 'Poppins';
    src: local('Lato'), url(./fonts/Poppins-Regular.ttf) format('opentype');
  }
*{
  overflow: -moz-hidden-unscrollable;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box{
  background-color: #000;
}
.top{
  position: relative;
  color: #fff;
  text-align: center;
  padding: 5px 0;
}
.close{
  position: absolute;
  cursor: pointer;
  top: 9px;
  right: 0;
  color: #fff;
}
.top p{
  position: relative;
}
.top a{
  color: #fff;
}
.top a:hover{
  color: #ff0000;
 }
li{
  list-style: none;
}
li a{
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
li a:hover{
  color: #403c3c;
}
header{
  position: relative;
}
.navbar .toggle-btn{
  font-size: 12px;
  cursor: pointer;
  flex: none;
  display: none;
}
.cart .dropdown-toggle::after{
  display: none;
}
.cart ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
.type ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
.navbar{
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.navbar .logo a{
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: #000;
}
.search-box{
  float: right;
}
.search-box button {
  height: 32px;
  width: 32px;
  margin-left: -5px;
  font-size: 17px;
  border: none;
  margin-top: 14px;
  margin-right: 16px;
}
  
.search-box input[type=text] {
  height: 29px;
  font-size: 17px;
  width: 186px;
  margin-top: 14px;
}
.nav-link{
  color: #000;
  padding: unset;
}
.navbar .links{
  margin: auto;
  padding: 30px 0;
  display: flex;
  gap: 48px;
}
.navbar input[type=text] {
  padding: 12px;
  border: none;
  border-radius: 18px;
  margin-top: 8px;
  margin-right: 9px;
  background-color: #f1f1f1;
}
.dropdown{
  font-weight: 500;
}
.cart{
  text-align: right;
  cursor: pointer;
}
.icons{
  font-size: 17px;
  padding-left: 17px;
}
.collections{
  height: 500px;
  background-size: cover;
}
.heading{
  text-align: center;
}
#summer{
  color: #fff;
  padding-top: 194px;
  font-size: xxx-large;
  margin-bottom: 20px;
}
.btn1{
  text-align: center;
  color: #000;
  background-color: #fff;
  border: #fff;
}
.btn1:hover{
  background-color: #000;
  color: #fff;
}
.arrow{
  font-size: small;
}
.pic1 .slick-dots{
  bottom: 114px;
}
.pic1 .slick-dots li{
  width: 4px;
}
.pic1 .slick-dots li button:before{
  font-family: 'slick';
  position: absolute;
  content: '•';
  text-align: center;
  color: #fff;
}
.pic1 .prev-arrow{
  right: 9%;
  z-index: 1;
  width: 46px;
  height: 46px;
  padding: 15px;
  box-shadow: 2px 0 2px #f2f2f2;
  border-radius: 12% 0 0 12%;
  color: #000;
  background-color: #fff;
  position: absolute;
  top: 8%;
  cursor: pointer;
}
.pic1 .next-arrow{
  right: 5%;
  z-index: 1;
  width: 46px;
  height: 46px;
  padding: 15px;
  border-radius: 0 12% 12% 0;
  color: #000;
  background-color: #fff;
  position: absolute;
  top: 8%;
  cursor: pointer;
}
.png img{
  display: inline-block;
  height: 45px;
  cursor: pointer;
}
#sub{
  padding: 25px 0;
  font-weight: 700;
}
.vertical{
  border-left: 2px solid #000;
}
.space{
  height: 100px;
}
#customer{
  font-weight: 700;
}
#shoping{
  padding: 17px 17px;
  font-weight: 600;
}
#hed{
  width: 44px;
  height: 39px;
  padding: 6px 8px;
  font-size: 20px;
  border-radius: 7px;
  background-color: #e7e7e7;
}
.products{
  padding: 69px 0;
}
.Subhead h5{
  font-weight: 700;
}
.paragh{
  font-weight: 500;
  opacity: 0.5;
}
.order{
  height: 208px;
  background-size: cover;
  border-radius: 7px;
}
.order:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
}
.btn2{
  justify-content: space-between;
  position: relative;
  display: flex;
  align-items: center;
  color: #000;
  background-color: #fff;
  top: 148px;
  width: 210px;
  margin: auto;
}
.btn2:hover{
  color: #fff;
  background-color: #000;
}
.currated{
  padding-bottom: 88px;
}
.currated .slide-content{
  padding: 0 15px;
}
.dresses .slide-content{
  padding: 0 15px;
}
.dresses h3{
  padding-bottom: 55px;
}
/* .dresses{
  padding-bottom: 100px;
} */
.dress{
  position: relative;
  background-size: cover;
}
.detail{
  text-align: left; 
  font-size: 14px;
}
#details{
  margin-bottom: 0;
}
#price{
  font-size: large;
  font-weight: 600;
}
.icon1{
  text-align: right;
  margin-top: -48px;
}
.icon{
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  padding: 7px 7px;
  border-radius: 5px;
}
#off{
  font-weight: unset;
  font-size: smaller;
  opacity: 0.6;
}
#letter{
  color: #fff;
  font-weight: bolder;
  font-size: 50px;
  padding-bottom: 15px;
}
.shoe{
  padding-right: 0;
}
.back{
  background-color: #242424;
  padding: 42px 20px;
}
.btn3{
  color: #000;
  background-color: #fff;
}
.btn3:hover{
  color: #fff;
  background-color: #a9a9a9;
}
#ltr{
  color: #fff;
}
.lastone{
  padding-bottom: 100px;
}
.end{
  background-color: #efefef;
}
.end h5{
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 18px;
}
#bottom{
  cursor: unset;
  opacity: 0.6;
  padding-bottom: 25px;
  text-align: center;
}
.sale{
  font-family: fangsong;
  left: 12px;
  top: 12px;
  position: absolute;
  padding: 0px 8px;
  text-align: center;
  font-size: medium;
  font-weight: 600;
  border-radius: 4px;
  width: 60px;
  color: #fff;
  background-color: #db1515;
}
#prod_img{
  height: 300px;
  width: 300px;
}
#quality{
  color: #6a6a6a;
  display: inline-block;
  text-decoration: none;
}
.gap{
  padding-top: 33px;
}
.column{
  cursor: pointer;
  float: left;
  width: 60px;
  padding: 16px;
}
.lay::after{
  content: "";
  display: table;
  clear: both;
}
.dresses{
 margin-bottom: 110px;
}
#next{
  display: inline-block;
  color: #6a6a6a;
  font-weight: 400;
  text-decoration: none;
}
#next:hover{
  color: #000;
}
.end h6{
  margin-bottom: 20px;
}


/* Single Product */
.spliter1{
  width: 48%;
}
.spliter2{
  margin: auto;
}
#timing{
  width: 60px;
  height: 72px;
  border: 1px solid;
  padding: 11px;
  margin-right: 11px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
#timing h6{
  font-size: 17px;
  opacity: 0.6;
}
#colours1{
  margin-right: 19px;
  appearance: none;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
}
#colours2{
  margin-right: 19px;
  appearance: none;
  height: 30px;
  background-color: #f31717;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #000;
}
#colours3{
  margin-right: 19px;
  appearance: none;
  height: 30px;
  width: 30px;
  background-color: #81b4ff;
  border-radius: 50%;
  border: 1px solid #000;
}
.oneproduct .next-arrow{
  top: 101px;
  right: -15px;
  position: absolute;
}
.oneproduct .prev-arrow{
  right: 15px;
  top: 97px;
  position: relative;
}
.oneproduct img{
  padding: 9px 10px;
  height: 172px;
  object-position: center;
}
.information{
  text-align: center;
}
.product-rating{
  padding: 13px 0;
}
.product-rating span{
  padding: 0 2px;
  color: #c7c7c7;
  font-size: 15px;
}
#feedback{
  color: #666666;
  font-weight: 500;
  padding-left: 9px;
}
#sold{
  padding: 0 4px;
  color: #ff0000;
}
#sold1{
  padding-left: 19px;
  color: #ff0000;
  font-size: 20px;
}
#stock{
  line-height: 15px;
}
#desc-content{
  font-size: 15px;
}
.quantity{
  text-align: center;
  border: 1px solid;
  width: 127px;
}
.add{
  border: none;
  font-weight: bolder;
  font-size: 24px;
}
.qty-number{
  border: none;
  text-align: center;
}
#price1{
  font-size: large;
  font-weight: 600;
  padding-left: 8px;
}
#total{
  margin-top: 12px;
}
.add1{
  width: 349px;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  border-radius: unset;
}
#terms{
  padding-left: 10px;
  color: #000;
}
#heart{
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  border-radius: 50%;
  border: 1px solid #808080;
  margin-left: 17px;
  line-height: 48px;
}
.share{
  font-size: 28px;
  cursor: pointer;
  padding-left: 20px;
}
.add2{
  border-radius: unset;
  padding: 15px 155px;
  background-color: #ac7cff;
  color: #fff;
}
#buttons{
  margin: 21px 0;
}
#shop{
  font-size: 21px;
  font-weight: 600;
}
#shop1{
  border: 1px solid;
  background-color: #fff;
  color: #ac7cff;
  padding: 0 4px;
  line-height: 26px;
  height: 35px;
  display: inline-block;
}
.add2:hover{
  background-color: #000;
  color: #ffff;
}
#options{
  text-align: center;
}
.eyes{
  padding-right: 6px;
}
#poweredby{
  display: inline-flex;
  height: 54px;
  margin-top: 24px;
  margin-bottom: 20px;
}
#poweredby img{
  padding-right: 20px;
}
.delivery{
  padding-right: 12px;
  margin-bottom: 14px;
}
#packdetails{
  padding-left: 28px;
}
#desc-content{
  font-size: 14px;
  text-align: start;
}
#unorder h6,#ordered h6{
  text-align: left;
  font-weight: 700;
}
#unorder ul li{
  text-align: left;
  list-style: disc;
  font-size: 14px;
  line-height: 34px;
}
#unorder ul, #ordered ol{
  padding-left: 18px;
}
#ordered ol li{
  list-style: decimal;
  text-align: left;
  font-size: 14px;
  line-height: 34px;
}
.endimage .slick-arrow{
  top: 36%;
  width: 29px;
  height: 29px;
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: #ffff;
  text-align: center;
  line-height: 29px;
}
.endimage .next-arrow{
   right: 0px;
 }
.endimage img{
  padding: 9px 10px;
  object-position: center;
}
#product-heading{
  font-size: larger;
  text-align: center;
  font-weight: 700;
  padding: 19px 0;
}
#sub-name{
  opacity: 0.4;
}
#offer-sale{
  font-size: 16px;
  width: 46px;
  text-align: center;
  font-weight: 500;
  height: 25px;
  color: #fff;
  margin-left: 9px;
  margin-top: 9px;
  background-color: #ff0000;
  position: absolute;
  border: 1px solid #ff0000;
}
#sub-heading{
  text-align: center;
}
#product-amount{
  font-weight: 700;
}
#product-amount1{
  opacity: 0.5;
  padding-right: 12px;
}
#product-amount2{
  color: #db1515;
  font-weight: 700;
}
.product-hr hr{
  margin-top: 90px;
  margin-bottom: 30px;
}
.recent-views .slick-arrow{
  display: none;
}
.recent-views{
  margin-bottom: 85px;
}
.recent-views img{
  padding: 9px 10px;
  object-position: center;
}


/*  */

.shoes-colors{
  margin-bottom: 40px;
  display: flex;
  justify-content: start;
}

.shoes-colors span{
  width: 14px;
  height: 14px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.blue{
  background: #7ed6df;
}
.green{
  background: #badc58;
}
.yellow{
  background: #f9ca24;
}
.rose{
  background: #ff7979;
}

.shoes-colors .active:after{
  content: "";
  width: 22px;
  height: 22px;
  border: 2px solid #8888;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  left: -4px;
  top: -4px;
}
.shoes-button:hover{
  transform: scale(1.06);
}

